.wrapper {
  position: sticky;
  z-index: 100;
  top: 0;
  overflow-x: auto;
  max-width: 90%;
  margin-left: 100px;

  .nav-bar {
    width: min-content;
    max-width: 100%;
    height: min-content;
    margin: var(--margin-sm);
    border-radius: 100px;
    position: relative;
    z-index: 100;
    align-items: center;

    // Add color when scroll down
    background-color: transparent;
    transition: all 0.3s;

    overflow-x: auto;

    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .nav-bar-element {
      margin: var(--margin-xs) var(--margin-xs);
      padding: var(--margin-xs) var(--margin-sm);
      transition: all 0.3s;
      font-weight: 500;
      z-index: 1;
      cursor: pointer;
      user-select: none;

      &.language {
        &:hover {
          color: var(--primary-font-color);
        }
      }
    }

    .nav-bar-indicator {
      // bottom: var(--margin-xxs);
      margin-left: 0;

      border-radius: 100px;
      position: absolute;
      backdrop-filter: blur(5px);
      background: var(--secondary-background-color);
      z-index: 0;
    }
  }
}
