.nav-bar {
  width: max-content;
  height: min-content;
  margin: 1rem;
  padding: 0.6rem 0.8rem;
  border-radius: 100px;
  position: relative;

  // Add color when scroll down
  background-color: transparent;
  transition: all 0.3s;

  .nav-bar-element {
    padding: 0.4rem 0.8rem;
    transition: all 0.3s;
    font-weight: 500;
    z-index: 1;
    cursor: pointer;
    user-select: none;
  }

  .nav-bar-indicator {
    bottom: 0.6rem;
    height: 2rem;
    margin-left: 0;

    width: 80px; /* Adjust based on your tab width */
    border-radius: 100px;
    position: absolute;
    background: var(--secondary-background-color);
    z-index: 0;
  }
}
