.card-wrapper {
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  position: relative;
  border-radius: var(--margin-lg);
  min-height: 35rem;

  .card-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--margin-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;

    .card-image {
      position: absolute;
      bottom: 0rem;
      right: 0rem;
      width: auto;
      max-width: 100%;
      max-height: 68%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }
  }

  @media screen and (max-width: 600px) {
    .card-image-container {
      .card-image {
        max-height: 62%;
      }
    }
  }

  .card-container {
    position: absolute;
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    padding: 3rem;

    border-radius: var(--margin-lg);

    > * {
      color: var(--primary-font-color);
    }

    &.link {
      cursor: pointer;
    }

    .card {
      padding: 0rem;
      height: 100%;
      text-align: right;
      word-break: break-word;
      transition: all 0.3s ease-in-out;

      a {
        text-decoration: none;
        width: max-content;
        color: var(--primary-font-color);
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 5px;
          width: 100%;
          height: 2px;
          background-color: var(--primary-font-color);
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      &.focused {
        text-align: left;
      }
    }
  }
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;

  transition: background-color 0.3s ease-in-out;
  background-color: transparent;

  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 200;

  &.active {
    pointer-events: unset;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
