/* theme.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
}

:root {
  --root-font-size: 16px;

  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-sm: 1rem;
  --margin-md: 1.5rem;
  --margin-lg: 2rem;
  --margin-xl: 3rem;
  --margin-xxl: 4rem;

  /* Colors */

  --background-drop-color: hsla(36, 40%, 87%, 0.741);
  --background-gradient-start-1: #a3e5e5;
  --background-gradient-start-2: #f9968b;

  --dark-slate-gray: #2f4f4f;
  --light-slate-gray: #708090;
  --tomato: #ff6347;
  --salmon: #f08080;
  --indian-red: #cd5c5c;
  --light-lime: #daf7a6;
  --yellow: #ffc300;
  --medium-aquamarine: #76cdcd;
  --medium-turquoise: #2cced2;

  --light-cyan: #e0ffff;
  --lavender: #e6e6fa;
  --mint-cream: #f5fffa;
  --cornsilk: #fff8dc;

  /* Font */
  /* --cta-font-family: "Inter", "Roboto", sans-serif; */
  --cta-font-family: "Poppins", "Roboto", sans-serif;
  --font-family: "Poppins", "Roboto", sans-serif;
  --font-size: 0.5rem;
  --primary-font-color: var(--dark-slate-gray); /* Dark slate gray */
  --secondary-font-color: var(--light-slate-gray); /* Light slate gay */
  --cta-color: var(--salmon); /* Sialmen */
  --attn-color: var(--tomato); /* Tomato */
  --counter-cta-color: var(--medium-aquamarine); /* Medium Aquamarine */
  --secondary-color: var(--medium-turquoise); /* Medium Turquoise */
  --secondary-background-color: #fafafa80;

  /* Defaults */
  color: var(--primary-font-color);
  font-family: var(--font-family);
}

/* Customise scrollbar */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-background-color);
} */

/* Customise selection */

::selection {
  background: var(--primary-font-color);
  color: #f0f0f0;
}
