.card-wrapper {
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  width: 100%;
  height: auto;

  .card-container {
    padding: var(--margin-sm);
    border-radius: var(--margin-lg);
    align-items: center;
    background-color: var(--secondary-background-color);

    > * {
      // Color probably cannot work but who cares
      transition: color 0.3s ease, all 0.4s ease-in-out;
    }

    .chip-container {
      border-radius: 1rem;
    }

    .chip {
      background-color: var(--secondary-background-color);
      padding: 0;
      color: var(--primary-font-color-dark);

      [data-theme="light"] & {
        // MUI original chip bg color
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }
}
